.card {
  margin-bottom: 10px;
}

.container {
  
  width: auto;
  margin-top: 20px;
  max-width: 1600px;
  border: 1px solid #5865F2;
  border-radius: 10px;
  background-color: rgba(80, 79, 79, 0.233);
  padding: 3px 3px 3px 3px;
  
}

.input-group-text {
  min-width: 10em;
}

.floating-badge {
  position: absolute;
  opacity: 0.5;
  color: rgb(255, 252, 208)
}

.badge {
  margin-right: 5px;
}

.dot {
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: #f00;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
}