body {
  padding: 10px;
  background-color: rgb(43, 41, 41);
}

h1 {
  font-family: "Impact", fantasy;
  color: darkslateblue;
}

table {
  padding-top: 10px;
}

.logout-container {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.discord-button {
  background-color: #5865F2;
  appearance: button;
}